.header-container {
  margin-top: 54px;
  margin-left: 10px;
  height: 120px;
}

.header-image {
  position: absolute;
  margin-top: -25px;
}

//.header-title-container {

//}

//.home .header-title-container {
//  width: 911px;
//}

.header-title {
  margin-left: 90px;
  font-family: headerFont;
  font-size: 25pt;
}

.header-description {
  //  margin-top: 10px;
  margin-left: 90px;
}

@media screen and (max-width: 1090px) {
  .login .header-title {
    font-size: 30pt;
  }

  .header-container {
    height: 140px;
  }
}

/* for shows tab */
//@media screen and (max-width: 1039px) {
//  .home .header-title-container {
//    width: 862px;
//  }
//}

//@media screen and (max-width: 981px) {
//  .home .header-title-container {
//    width: 740px;
//  }
//}

//@media screen and (max-width: 969px) {
//  .home .header-title-container {
//    width: 545px;
//  }
//}

@media screen and (max-width: 480px) {
  .header-title {
    width: 198px;
    margin-left: 75px;
  }

  .login .header-title {
    font-size: 25pt;
  }

  .home .header-container {
    height: auto;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .login .header-container {
    height: 240px;
    margin-top: 20px;
  }

  .home .header-description {
    margin-left: 0px;
    //    margin-top: 50px;
  }

  .login .header-description {
    margin-left: 50px;
    margin-top: 40px;
  }

  .header-image {
    margin-top: -5px;
    height: 110px;
    width: 49px;
  }
}

@media screen and (max-width: 320px) {
}