.header-container {
  margin-top: 54px;
  margin-left: 10px;
  height: 120px;
}

.header-image {
  position: absolute;
  margin-top: -25px;
}

.header-title-container {
  margin-left: 90px;
  width: 911px;
}

/* for shows tab */
@media screen and (max-width: 1039px) and (min-width:982px) {
  .header-title-container {
    width: 862px;
  }
}

@media screen and (max-width: 981px) and (min-width:970px) {
  .header-title-container {
    width: 740px;
  }
}

@media screen and (max-width: 969px) and (min-width:0px) {
  .header-title-container {
    width: 545px;
  }
}

.header-title {
  font-family: headerFont;
  font-size: 25pt;
  //  font-weight: bold;
}

@media screen and (max-width: 1090px) and (min-width: 0px) {
  .header-title {
    font-size: 30pt;
  }

  .header-container {
    height: 140px;
  }
}

.header-description {
  margin-top: 10px;
}