@movies-list-width: 400px;
@total-width: 900px;
@list-padding: 5px;
@list-border: 1px;
@filters-height: 20px;

.movies-tab {
  margin-left: 142px;
}

.movies-content {
  margin-top: 10px;
}

.movies-list-container {
  border: @list-border solid #CCCCCC;
  border-radius: 5px;
  padding: @list-padding;
  max-width: 500px;
}

.movie-item-torrents-collapse,
.movie-item-torrents-show-all {
  color: #097fe3;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.movie-item-torrents-collapse {
  display: none;
}

@movie-item-padding: 5px;
@movie-item-padding-left: 5px;
.movie-item {
  padding: @movie-item-padding;
  padding-left: @movie-item-padding-left;
  position: relative;
  padding-right: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dcdcdc;

  .search-result-item-not-viewed {
    font-weight: normal;
  }
}

.movie-item-root {
  position: relative;
}

.movie-item-new-label-short,
.movie-item-new-label {
  background-color: red;
  color: yellow;
  border-radius: 5px;
  padding: 0px 3px;
  font-weight: normal;
  white-space: nowrap;
  display: none;
  margin-left: 10px;
}

.movie-item-new-label {
  float: left;
}

@movie-item-new-label-width: 50px;
@movie-item-icon-wrapper-width: 24px;
.movie-item-title-wrapper {
}

.movie-item-title-no-wrap,
.movie-item-title {
  cursor: default;
  font-weight: bold;
}

.movie-item-title {
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

.movie-item-title-no-wrap {
  display: none;
  margin-right: 20px;
}

.movie-item-inner {
  height: 20px;
}

.movie-item-icon-wrapper {
  position: absolute;
  top: 4px;
  left: 0px;
  height: 24px;
  width: @movie-item-icon-wrapper-width;
}

.movie-item-icon-wrapper-with-new-label {
  left: @movie-item-new-label-width;
}

.movie-item-torrents {
  margin-left: 20px;
}

.movie-item-torrents .search-results-empty-view {
  display: none;
}

.movie-item-torrents .search-result-item-body {
  margin-left: 25px;
}

.movie-item-summary {
  margin-left: 25px;
  font-weight: normal;
  color: #808080;
}

.future-movies-list .movie-item:hover {
  .future-movie-item-remove-image {
    display: inline !important;
  }

  .movie-item-scheduled-image,
  .movie-item-searching-image,
  .movie-item-downloaded-image,
  .movie-item-future-image {
    display: none !important;
  }
}

.movie-show-preview-image {
  position: absolute;
  top: 1px;
  right: 3px;
}

.future-movie-item-remove-image {
  display: none;
}

.future-movie-item-remove-image-short,
.future-movie-item-remove-image {
  cursor: pointer;
  color: #097fe3;
  text-decoration: underline;
  margin-left: 10px;
}

.movie-item-not-viewed {
}

.movie-item-scheduled-image {
  display: none;
  margin-right: 3px;
}

.movie-item-future-image,
.movie-item-downloaded-image {
  display: none;
  margin-right: 7px; /* image is smaller by 4px - 16x16 */
}

.movies-section {
  margin-top: 50px;
}

.movies-search-content {
  margin-top: 20px;
  margin-left: 25px;
}

.future-movies-imdb-id-input {
  width: 300px;
}

.movies-filter {
  margin-left: 5px;
}

.future-movies-filter {
  margin-left: 10px;
}

.movies-filter:hover,
.future-movies-filter:hover {
  cursor: pointer;
  text-decoration: underline;
}

.filter-selected {
  font-weight: bold;
}

.movie-sub-title,
.movie-torrent-sub-title {
  font-size: 11px;
  color: #808080;
  margin-bottom: 4px;
  font-weight: normal; /* no bold of not-viewed */
}

.movie-sub-title,
.movie-scheduled-on {
  display: none;
}

.movies-list-empty-label-container {
  color: #808080;
  font-style: italic;
}

.movies-search-results {
  margin-top: 30px;
  max-width: 500px;
}

.movies-search-result-item-icon {
  position: absolute;
  left: @movie-item-padding-left;
  top: @movie-item-padding;
}

.movies-search-result-item-status {
  position: absolute;
  right: @movie-item-padding;
  top: 19px;
}

.movie-search-result-item {
  height: 60px;
  padding: 5px;
  position: relative;

  img {
    height: inherit; /* override default image height of bootstrap */
  }

  &:hover {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    padding: @movie-item-padding - 1px;

    .movies-search-result-item-status {
      right: @movie-item-padding - 1px;
      top: 18px;
    }

    .movies-search-result-item-icon {
      position: absolute;
      left: @movie-item-padding-left - 1px;
      top: @movie-item-padding - 1px;
    }
  }
}

.movies-search-result-item-added {
  margin-top: 6px;
  margin-right: 5px;
}

.movies-search-result-item-added:hover {
  cursor: default;
}

.movies-search-result-wrapper {
  margin-right: 50px;
}

.movies-search-result-title-wrapper2 {
  height: 56px; /* this is the actual height of the images */
  vertical-align: middle;
  display: table-cell;
}

.movies-search-result-title-wrapper {
  margin-left: 50px;
}

@media screen and (max-width: 993px) {
  .movies-tab {
    margin-left: 100px;
  }
}

@media screen and (max-width: 950px) {
  .movies-tab {
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .movies-search-content {
    margin-left: 0px;
  }

  .future-movies-imdb-id-input {
    width: 195px;
  }

  .movies-section {
    margin-top: 20px;
  }

  .movies-tab {
    margin-left: 0px;
  }

  .movie-item-title-no-wrap {
    display: block;
  }

  .movie-item-title {
    display: none;
  }

  .movie-item-long-wrapper {
    display: none;
  }

  // when small resoultion, we remove the height and the float and let the text wrap itself multiple lines
  .movie-item-inner {
    height: auto;
  }
}