@job-font-size: 15px;
@job-label-width: 200px;

.admin-tab {
  width: @tab-width;
}

.access-stats-list-container,
.jobs-list {
  margin-left: 25px;
}

.access-stats-list-container {
  font-size: 13px;
  margin-top: 20px;
}

.admin-job {
  margin: 0px;
  margin-top: 20px; //  display: inline-block;
}

.admin-job li {
  display: inline-block;
}

.jobs-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.job {
  font-size: @job-font-size;
  width: @job-label-width;
}

.job-running {
  display: none;
  font-size: 13px;
}

.job-not-running {
  display: none;
  font-size: 13px;
}

.job-starting {
  display: none;
  font-size: 13px;
}

.job-never-run {
  display: none;
  font-size: 13px;
}

.job-start {
  color: @theme-color;
}

.job-start:hover {
  text-decoration: underline;
  cursor: pointer;
}

.job-error-status {
  display: none;
  color: red;
}

.admin-access-stats-section,
.admin-notifications-section {
  margin-top: 50px;
}

.admin-access-stats {
  width: 680px;
}

.admin-notifications {
  margin-left: 25px;
  margin-top: 20px;
}

.notifications-buttons-bar {
  margin-top: 10px;
  height: 28px;
}

.notifications-post-button {
  float: right;
}

.notificationsField {

}

.notifications-textarea {
  width: 563px;
  min-height: 150px;
  min-width: 500px;
}

.access-stats-name-column-header,
.username-column {
  float: left;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.last-login-column,
.last-shows-feed-access-column,
.last-movies-feed-access-column,
.access-stats-last-login-column-header,
.access-stats-last-shows-feed-access-column-header,
.access-stats-last-movies-feed-access-column-header {
  float: left;
  margin-left: 20px;
  width: 105px;
  white-space: nowrap;
}

.access-stats-list-header {
  font-weight: bold;
  height: 20px;
  margin-bottom: 5px;
}

.access-stats-item {
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

//.access-stats-last-login-column-header,
//.access-stats-last-shows-feed-access-column-header,
//.access-stats-last-movies-feed-access-column-header {
//  width: 105px;
//  white-space: nowrap;
//}

.access-stats-list {
  max-height: 150px;
  overflow-y: auto;
}

.stats-summary {
  margin-bottom: 10px;
  color: #808080;
}

.admin-all-shows-combo, .select2-container {
  float: left;
  margin-right: 10px;
  width: 250px;
}

.admin-download-show-schedule {
  margin-top: 20px;
  margin-left: 25px;
  height: 30px;
  width: 700px;
  font-size: @job-font-size;

  .chzn-container, .select2-container {
    float: left;
    margin-right: 10px;
  }
}

.admin-download-show-schedule-button {
  float: left;
  margin-top: 3px;
}

.admin-download-show-schedule-title {
  float: left;
  width: @job-label-width;
  margin-top: 5px;
}

.chzn-container .chzn-results .group-result {
  display: list-item;
}

.select2-no-results {
  font-size: 13px;
}

.select2-drop .select2-results li:first-child {
  display: block;
}

