.admin-tab {
  width: @tab-width;
}

.jobs-list {
  margin-left: 25px;
}

.admin-job {
  margin: 0px;
  margin-top: 20px;
//  display: inline-block;
}

.admin-job li {
  display: inline-block;
}

.jobs-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.job {
  font-size: 15px;
  width: 200px;
}

.job-running {
  display: none;
  font-size: 13px;
}

.job-not-running {
  display: none;
  font-size: 13px;
}

.job-starting {
  display: none;
  font-size: 13px;
}

.job-never-run {
  display: none;
  font-size: 13px;
}

.job-start {
  color: @theme-color;
}

.job-start:hover {
  text-decoration: underline;
  cursor: pointer;
}

.job-error-status {
  display: none;
  color: red;
}

.admin-notifications-section {
  margin-top: 50px;
}

.admin-notifications {
  margin-left: 25px;
  margin-top: 20px;
}

.notifications-buttons-bar {
  margin-top: 10px;
  height: 28px;
}
.notifications-post-button {
  float: right;
}

.notificationsField {

}

.notifications-textarea {
  width: 563px;
}