//@job-font-size: 15px;
@job-label-width: 200px;
@admin-searcher-conf-domain-add-button-width: 60px;
@admin-searcher-conf-domain-list-margin: 20px;

.admin-tab {
  margin-left: 142px;
}

.access-stats-list-container,
.jobs-list {
  margin-left: 25px;
}

.access-stats-list-container {
  //  font-size: @font-size-body;
  //  margin-top: 20px;
}

.admin-job {
  margin: 0px;
  margin-top: 20px; //  display: inline-block;
}

.admin-job li {
  display: inline-block;
}

.jobs-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.job {
  //  font-size: @job-font-size;
  width: @job-label-width;
}

.job-running {
  display: none;
  //  font-size: @font-size-body;
}

.job-not-running {
  display: none;
  //  font-size: @font-size-body;
}

.job-starting {
  display: none;
  //  font-size: @font-size-body;
}

.job-never-run {
  display: none;
  //  font-size: @font-size-body;
}

.job-start {
  color: @theme-color;
}

.job-start:hover {
  text-decoration: underline;
  cursor: pointer;
}

.job-error-status {
  display: none;
  color: red;
}

.admin-searcher-configurations-section,
.admin-access-stats-section,
.admin-notifications-section {
  margin-top: 50px;
}

.admin-access-stats {
  //  width: 680px;
}

.admin-notifications {
  margin-left: 25px;
  margin-top: 20px;
}

.notifications-buttons-bar {
  margin-top: 10px;
  height: 28px;
}

.notifications-post-button {
  float: right;
}

.notificationsField {

}

.notifications-textarea {
  width: 99%; /* due to the thick border */
  min-height: 150px;
  //  min-width: 500px;
  padding: 0px;
}

.access-stats-name-column-header,
.username-column {
  float: left;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.last-login-column,
.last-shows-feed-access-column,
.last-movies-feed-access-column,
.access-stats-last-login-column-header,
.access-stats-last-shows-feed-access-column-header,
.access-stats-last-movies-feed-access-column-header,
.access-stats-impersonate-column-header,
.impersonate-button-column {
  float: left;
  margin-left: 20px;
  width: 105px;
  white-space: nowrap;
}

.impersonate-button {
  padding: 0px 0px 5px 14px;
  height: 15px;
}

.access-stats-list-header {
  font-weight: bold;
  height: 20px;
  margin-bottom: 5px;
}

.access-stats-item {
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

//.access-stats-last-login-column-header,
//.access-stats-last-shows-feed-access-column-header,
//.access-stats-last-movies-feed-access-column-header {
//  width: 105px;
//  white-space: nowrap;
//}

.access-stats-list {
  max-height: 150px;
  overflow-y: auto;
}

.stats-summary {
  margin-bottom: 10px;
  color: #808080;
}

.admin-delete-movie-id-input,
.admin-delete-show-id-input,
.admin-all-shows-combo, .select2-container {
  float: left;
  margin-right: 10px;
}

.admin-all-shows-combo, .select2-container {
  width: 250px;
}

.admin-delete-movie,
.admin-delete-show {
  height: 26px;
}

.admin-delete-movie,
.admin-delete-show,
.admin-download-show-schedule {
  margin-top: 20px;
  margin-left: 25px;
  height: 28px;

  .chzn-container, .select2-container {
    float: left;
    margin-right: 10px;
  }
}

.admin-delete-movie-button,
.admin-delete-show-button {
  float: left;
  margin-top: -1px;
}

.admin-download-show-schedule-button {
  float: left;
  margin-top: 3px;
}

.admin-delete-show-title {
  width: 295px;
  margin-top: 2px;
  float: left;
}

.admin-download-show-schedule-title {
  float: left;
  margin-top: 5px;
  width: @job-label-width;
}

.chzn-container .chzn-results .group-result {
  display: list-item;
}

.select2-no-results {
  //  font-size: @font-size-body;
}

.select2-drop .select2-results li:first-child {
  display: block;
}

.notifications {
  position: relative;
}

.admin-searcher-conf-list {
  margin-left: 25px;
}

.admin-searcher-conf-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

@admin-searcher-conf-domain-item-padding: 4px;
.admin-searcher-conf-domain-item {
  padding: @admin-searcher-conf-domain-item-padding;
}

.admin-searcher-conf-domain-item:hover {
  padding: @admin-searcher-conf-domain-item-padding - 1;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
}

@admin-searcher-conf-domain-list-width: 193px;
.admin-searcher-conf-domain-list {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  width: @admin-searcher-conf-domain-list-width;
  margin-left: 2px;
  margin-top: 5px;
  padding: 5px;
}

.admin-searcher-conf-remove-domain-image {
  cursor: pointer;
  float: right;
  margin-top: 4px;
  margin-right: 6px;
}

@admin-searcher-conf-name-width: 110px;
.admin-searcher-conf-name {
  width: @admin-searcher-conf-name-width;
  position: absolute;
}

.admin-searcher-conf-value {
  margin-left: @admin-searcher-conf-name-width;
  max-width: @admin-searcher-conf-domain-list-width + 16px;
}

.access-stats-item-small {
  display: none;
}

.admin-searcher-conf-search-box {
  height: 26px;
  position: relative;
}

.admin-searcher-conf-domain-add-button {
  position: absolute;
  right: 0px;
}

.admin-searcher-conf-domain-input {
  position: absolute;
  right: @admin-searcher-conf-domain-add-button-width;
  left: 0px;

  input {
    width: 100%;
  }
}

@media screen and (max-width: 1090px) {
  .access-stats-name-column-header,
  .username-column {
    width: 200px;
  }

  .last-login-column,
  .last-shows-feed-access-column,
  .last-movies-feed-access-column,
  .access-stats-last-login-column-header,
  .access-stats-last-shows-feed-access-column-header,
  .access-stats-last-movies-feed-access-column-header,
  .access-stats-impersonate-column-header,
  .impersonate-button-column {
    width: 128px;
  }

  .admin-delete-show-title {
    width: 325px;
  }

  .access-stats-item {
    height: 22px;
  }
}

@media screen and (max-width: 791px) {
  .admin-tab {
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .admin-tab {
    margin-left: 0px;
  }

  .access-stats-list-container,
  .jobs-list {
    margin-left: 0px;
  }

  .admin-delete-movie, .admin-delete-show, .admin-download-show-schedule {
    margin-left: 0px;
  }

  .admin-notifications {
    margin-left: 0px;
  }

  .admin-searcher-conf-list {
    margin-left: 5px;
  }

  .admin-download-show-schedule {
    height: 80px;
  }

  .admin-delete-movie, .admin-delete-show {
    height: 45px;
  }

  .admin-searcher-conf-name {
    position: inherit;
  }

  .admin-searcher-conf-value {
    margin-left: @admin-searcher-conf-domain-list-margin;
    max-width: inherit;
  }

  .access-stats-item-small {
    display: block;
  }

  .access-stats-list-header,
  .access-stats-item-large {
    display: none;
  }

  .access-stats-list {
    max-height: inherit;
    overflow-y: auto;
  }

  .access-stats-item {
    height: inherit;
  }

  .admin-searcher-conf-domain-list {
    margin-right: @admin-searcher-conf-domain-list-margin;
    width: inherit;
  }

  .admin-searcher-conf-domain-input {
    right: @admin-searcher-conf-domain-list-margin + @admin-searcher-conf-domain-add-button-width - 2px; // some border
  }

  .admin-searcher-conf-domain-add-button {
    right: @admin-searcher-conf-domain-list-margin;
  }
}