.home-header-tabs {
  margin-top: 40px;
  border-bottom: 2px solid @theme-color;
  height: 30px;
  font-size: 18px;
}

body:not(:-moz-handler-blocked) .home-header-tabs {
  padding-bottom: 1px;
}

.home-header-tabs a {
  text-decoration: none;
  color: @theme-color;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

// the hover overrides unselected hover styling
.home-header-tabs .home-selected-tab,
.home-header-tabs .home-selected-tab:hover {
  background-color: @theme-color;
  color: yellow;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home-content {
  margin-top: 30px;
}

.home-masthead {
  float: right;
  margin-top: -40px;
  margin-right: 20px;
}

.masthead {
  height: 20px; /* needed for responsive, so won't break line */
  //  font-size: 10pt;
}

.masthead-username {
  font-weight: bold;
}

.masthead-separator {
  margin-left: 5px;
  margin-right: 5px;
}

.masthead-support,
.masthead-logout {
  text-decoration: none;
  color: black;
}

.masthead-support:hover,
.masthead-logout:hover {
  text-decoration: underline;
  cursor: pointer;
}

.masthead-updated-on {
  color: #808080;
  white-space: nowrap;
}

.home-admin-tab {
  display: none;
}

.home-footer {
  height: 20px;
}

.masthead-support-box-content {
  //  font-size: @font-size-body;
  display: none;
}

.masthead-support-title {
  font-size: 18px;
  color: @theme-color;
}

.masthead-support-subtitle {
  color: #808080;
}

.masthead-support-cancel-button,
.masthead-support-submit-button {
  float: right;
}

.masthead-support-cancel-button {
  margin-left: 10px;
}

.masthead-support-content {
  width: 450px;
  height: 150px;
  resize: none;
}

.masthead-support-button-bar {
  margin-top: 20px;
}

.masthead-support-type-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.home-settings-tab:hover,
.home-home-tab:hover,
.home-tvshows-tab:hover,
.home-movies-tab:hover,
.home-admin-tab:hover {
  background-color: lightblue;
  margin-bottom: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home-admin-tab-small {
  display: none;
}

@media screen and (max-width: 1090px) {
  .masthead-support-title {
    font-size: 20px;
  }

  .home-header-tabs {
    font-size: 22px;
    height: 36px;
  }

  .home-header-tabs a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .home-masthead {
    margin-top: -27px;
    margin-right: 3px;
    margin-left: 3px;
  }

  .home-content {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .home-header-tabs {
    font-size: 14px;
    height: 26px;
    margin-top: 30px;
  }

  .home-header-tabs a {
    padding-left: 4px;
    padding-right: 4px;
  }

  .masthead-separator {
    margin-left: 1px;
    margin-right: 1px;
  }

  .masthead-updated-on-prefix {
    display: none;
  }

  .home-admin-tab-small {
    display: inline;
  }

  .home-admin-tab-large {
    display: none;
  }
}