<?xml version="1.0" encoding="UTF-8"?>
<web-app id="UCMDB_browser" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            <![CDATA[
    				/WEB-INF/*-context.xml
                    classpath:META-INF/spring/*-context.xml
    			]]>

        </param-value>
    </context-param>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RssFeedGeneratorServlet</servlet-name>
        <servlet-class>rss.servlets.RssFeedGeneratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RssFeedGeneratorServlet</servlet-name>
        <url-pattern>/generate/*</url-pattern>
    </servlet-mapping>

    <!--<servlet>-->
    <!--<servlet-name>TorrentTrackerServlet</servlet-name>-->
    <!--<servlet-class>rss.servlets.TorrentTrackerServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>TorrentTrackerServlet</servlet-name>-->
    <!--<url-pattern>/announce</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>rss.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <jsp-file>/jsp/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/create-account/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <jsp-file>/jsp/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    <listener>
        <listener-class>rss.AppConfigListener</listener-class>
    </listener>

    <filter>
        <filter-name>UserContextFilter</filter-name>
        <filter-class>rss.UserContextFilter</filter-class>
        <init-param>
            <param-name>urlWhiteList</param-name>
            <param-value>/rest/user/login,/rest/user/register,/generate</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UserContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TraktFilter</filter-name>
        <filter-class>rss.trakt.TraktFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TraktFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>jsp/login.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/ablankpage.html</location>
    </error-page>

</web-app>
